In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/driver_locations_during_request.csv')
df_nb = pd.read_csv('../data/nb.csv')

In [3]:
df.head()

,id,order_id,driver_id,driver_action,lat,lng,created_at,updated_at
0,1,392001,243828,accepted,6.602207,3.270465,NaN,NaN
1,2,392001,243588,rejected,6.592097,3.287445,NaN,NaN
2,3,392001,243830,rejected,6.596133,3.281784,NaN,NaN
3,4,392001,243539,rejected,6.596142,3.280526,NaN,NaN
4,5,392001,171653,rejected,6.609232,3.288800,NaN,NaN

In [5]:
df_nb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536020 entries, 0 to 536019
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Trip ID           536020 non-null  int64
 1   Trip Origin       536020 non-null  object
 2   Trip Destination  536020 non-null  object
 3   Trip Start Time   534369 non-null  object
 4   Trip End Time     536019 non-null  object
dtypes: int64(1), object(4)
memory usage: 20.4+ MB

In [5]:
df.shape

(1557740, 8)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1557740 entries, 0 to 1557739
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   id             1557740 non-null  int64
 1   order_id       1557740 non-null  int64
 2   driver_id      1557740 non-null  int64
 3   driver_action  1557740 non-null  object
 4   lat            1557740 non-null  float64
 5   lng            1557740 non-null  float64
 6   created_at     0 non-null        float64
 7   updated_at     0 non-null        float64
dtypes: float64(4), int64(3), object(1)
memory usage: 95.1+ MB

In [8]:
df.describe()

,id,order_id,driver_id,lat,lng,created_at,updated_at
count,1.557740e+06,1.557740e+06,1.557740e+06,1.557740e+06,1.557740e+06,0.0,0.0
mean,7.788705e+05,4.191833e+05,2.341505e+05,6.536031e+00,3.378877e+00,NaN,NaN
std,4.496809e+05,1.444531e+04,2.270475e+04,5.998150e-02,5.333432e-02,NaN,NaN
min,1.000000e+00,3.920010e+05,1.219810e+05,6.409333e+00,3.076561e+00,NaN,NaN
25%,3.894358e+05,4.067650e+05,2.429970e+05,6.498694e+00,3.348810e+00,NaN,NaN
50%,7.788705e+05,4.216870e+05,2.435890e+05,6.544247e+00,3.363504e+00,NaN,NaN
75%,1.168305e+06,4.293130e+05,2.440560e+05,6.593276e+00,3.385177e+00,NaN,NaN
max,1.557740e+06,5.179480e+05,2.478770e+05,7.702536e+00,8.515414e+00,NaN,NaN

In [3]:
import holidays

In [4]:
holidays.Nigeria()

holidays.country_holidays('NG')

In [5]:
df_merged = pd.merge(df, df_nb, left_on='order_id', right_on='Trip ID', how='right')

In [6]:
df_merged.shape

(2067268, 13)

In [109]:
df_merged.head()

,id,order_id,driver_id,driver_action,lat,lng,created_at,updated_at,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time
0,1,392001,243828,accepted,6.602207,3.270465,NaN,NaN,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36
1,2,392001,243588,rejected,6.592097,3.287445,NaN,NaN,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36
2,3,392001,243830,rejected,6.596133,3.281784,NaN,NaN,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36
3,4,392001,243539,rejected,6.596142,3.280526,NaN,NaN,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36
4,5,392001,171653,rejected,6.609232,3.288800,NaN,NaN,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36

In [7]:
df_merged['Trip End Time'] = pd.to_datetime(df_merged['Trip End Time'] )
df_merged['Trip Start Time'] = pd.to_datetime(df_merged['Trip Start Time'] )

In [111]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1557740 entries, 0 to 1557739
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   id                1557740 non-null  int64
 1   order_id          1557740 non-null  int64
 2   driver_id         1557740 non-null  int64
 3   driver_action     1557740 non-null  object
 4   lat               1557740 non-null  float64
 5   lng               1557740 non-null  float64
 6   created_at        0 non-null        float64
 7   updated_at        0 non-null        float64
 8   Trip ID           1557740 non-null  int64
 9   Trip Origin       1557740 non-null  object
 10  Trip Destination  1557740 non-null  object
 11  Trip Start Time   1555718 non-null  datetime64[ns]
 12  Trip End Time     1557740 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(4), int64(4), object(3)
memory usage: 154.5+ MB

In [8]:
df_merged['Time Taken'] = df_merged['Trip End Time'] - df_merged['Trip Start Time']

In [9]:
df_merged['duration_minutes (min)'] = df_merged['Time Taken'] / pd.Timedelta(minutes=1)

In [114]:
df_merged.head()

,id,order_id,driver_id,driver_action,lat,lng,created_at,updated_at,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time,Time Taken,duration_minutes (min)
0,1,392001,243828,accepted,6.602207,3.270465,NaN,NaN,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,0 days 00:03:37,3.616667
1,2,392001,243588,rejected,6.592097,3.287445,NaN,NaN,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,0 days 00:03:37,3.616667
2,3,392001,243830,rejected,6.596133,3.281784,NaN,NaN,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,0 days 00:03:37,3.616667
3,4,392001,243539,rejected,6.596142,3.280526,NaN,NaN,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,0 days 00:03:37,3.616667
4,5,392001,171653,rejected,6.609232,3.288800,NaN,NaN,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,0 days 00:03:37,3.616667

In [10]:
nigeria_holiday = holidays.Nigeria()

In [89]:
'2021-01-01' in nigeria_holiday

True

In [11]:
def is_holiday(date):
    return date in nigeria_holiday

In [83]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1557740 entries, 0 to 1557739
Data columns (total 16 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   id                      1557740 non-null  int64
 1   order_id                1557740 non-null  int64
 2   driver_id               1557740 non-null  int64
 3   driver_action           1557740 non-null  object
 4   lat                     1557740 non-null  float64
 5   lng                     1557740 non-null  float64
 6   created_at              0 non-null        float64
 7   updated_at              0 non-null        float64
 8   Trip ID                 1557740 non-null  int64
 9   Trip Origin             1557740 non-null  object
 10  Trip Destination        1557740 non-null  object
 11  Trip Start Time         1555718 non-null  datetime64[ns]
 12  Trip End Time           1557740 non-null  datetime64[ns]
 13  Time Taken              1555718 non-null  timedelta64[ns]
 14  duration_minutes (min)  1555718 non-null  float64
 15  is_holiday              1557740 non-null  bool
dtypes: bool(1), datetime64[ns](2), float64(5), int64(4), object(3), timedelta64[ns](1)
memory usage: 179.8+ MB

In [13]:
df_merged['is_holiday'] = df_merged['Trip Start Time'].dt.date.apply(is_holiday)

In [14]:
df_merged['is_holiday'].value_counts()

is_holiday
False    2051051
True       16217
Name: count, dtype: int64

In [15]:
len(pd.to_datetime(df_nb['Trip End Time']).dt.date.unique())

257

In [92]:
df_merged.head()

,id,order_id,driver_id,driver_action,lat,lng,created_at,updated_at,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time,Time Taken,duration_minutes (min),is_holiday
0,1,392001,243828,accepted,6.602207,3.270465,NaN,NaN,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,0 days 00:03:37,3.616667,False
1,2,392001,243588,rejected,6.592097,3.287445,NaN,NaN,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,0 days 00:03:37,3.616667,False
2,3,392001,243830,rejected,6.596133,3.281784,NaN,NaN,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,0 days 00:03:37,3.616667,False
3,4,392001,243539,rejected,6.596142,3.280526,NaN,NaN,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,0 days 00:03:37,3.616667,False
4,5,392001,171653,rejected,6.609232,3.288800,NaN,NaN,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,0 days 00:03:37,3.616667,False

In [127]:
len(df_merged['Trip End Time'].dt.date.unique())

257

In [62]:
nigeria_holiday(years=2021)

TypeError: 'Nigeria' object is not callable

In [64]:
for ptr in holidays.Nigeria(years=2021).items():
    print(ptr)

(datetime.date(2021, 1, 1), "New Year's Day")
(datetime.date(2021, 4, 2), 'Good Friday')
(datetime.date(2021, 4, 5), 'Easter Monday')
(datetime.date(2021, 5, 1), "Workers' Day")
(datetime.date(2021, 6, 12), 'Democracy Day')
(datetime.date(2021, 10, 1), 'Independence Day')
(datetime.date(2021, 12, 25), 'Christmas Day')
(datetime.date(2021, 12, 26), 'Boxing Day')
(datetime.date(2021, 5, 13), 'Eid-el-Fitr (estimated)')
(datetime.date(2021, 5, 14), 'Eid-el-Fitr Holiday (estimated)')
(datetime.date(2021, 7, 20), 'Eid-el-Kabir (estimated)')
(datetime.date(2021, 7, 21), 'Eid-el-Kabir Holiday (estimated)')
(datetime.date(2021, 10, 18), 'Eid-el-Mawlid (estimated)')
(datetime.date(2021, 5, 3), "Workers' Day (observed)")
(datetime.date(2021, 6, 14), 'Democracy Day (observed)')
(datetime.date(2021, 12, 27), 'Christmas Day (observed)')
(datetime.date(2021, 12, 28), 'Boxing Day (observed)')

In [69]:
df_merged['Trip Start Time'].dt.strftime('%Y-%m-%d').head()

0    2021-07-01
1    2021-07-01
2    2021-07-01
3    2021-07-01
4    2021-07-01
Name: Trip Start Time, dtype: object

In [134]:
df_merged.isnull().sum() / len(df_merged) * 100

id                         24.647409
order_id                   24.647409
driver_id                  24.647409
driver_action              24.647409
lat                        24.647409
lng                        24.647409
created_at                100.000000
updated_at                100.000000
Trip ID                     0.000000
Trip Origin                 0.000000
Trip Destination            0.000000
Trip Start Time             0.176029
Trip End Time               0.000048
Time Taken                  0.176078
duration_minutes (min)      0.176078
is_holiday                  0.000000
dtype: float64

In [135]:
df_merged.head()

,id,order_id,driver_id,driver_action,lat,lng,created_at,updated_at,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time,Time Taken,duration_minutes (min),is_holiday
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,391996,"6.508813001668548,3.37740316890347","6.650969799999999,3.3450307",2021-07-01 07:28:04,2021-07-01 07:29:37,0 days 00:01:33,1.550000,False
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,391997,"6.4316714,3.4555375","6.4280814653326,3.4721885847586",2021-07-01 06:38:04,2021-07-01 07:07:28,0 days 00:29:24,29.400000,False
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,391998,"6.631679399999999,3.3388976","6.508324099999999,3.3590397",2021-07-01 06:21:02,2021-07-01 07:02:23,0 days 00:41:21,41.350000,False
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,391999,"6.572757200000001,3.3677082","6.584881099999999,3.3614073",2021-07-01 07:16:07,2021-07-01 07:29:42,0 days 00:13:35,13.583333,False
4,1.0,392001.0,243828.0,accepted,6.602207,3.270465,NaN,NaN,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,0 days 00:03:37,3.616667,False

In [16]:
df_merged['is_weekend'] = df_merged['Trip Start Time'].dt.day_of_week.isin([5,6])

In [17]:
df_merged['is_weekend'].value_counts()

is_weekend
False    1764009
True      303259
Name: count, dtype: int64

In [140]:
df_merged.head()

,id,order_id,driver_id,driver_action,lat,lng,created_at,updated_at,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time,Time Taken,duration_minutes (min),is_holiday,is_weekend
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,391996,"6.508813001668548,3.37740316890347","6.650969799999999,3.3450307",2021-07-01 07:28:04,2021-07-01 07:29:37,0 days 00:01:33,1.550000,False,False
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,391997,"6.4316714,3.4555375","6.4280814653326,3.4721885847586",2021-07-01 06:38:04,2021-07-01 07:07:28,0 days 00:29:24,29.400000,False,False
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,391998,"6.631679399999999,3.3388976","6.508324099999999,3.3590397",2021-07-01 06:21:02,2021-07-01 07:02:23,0 days 00:41:21,41.350000,False,False
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,391999,"6.572757200000001,3.3677082","6.584881099999999,3.3614073",2021-07-01 07:16:07,2021-07-01 07:29:42,0 days 00:13:35,13.583333,False,False
4,1.0,392001.0,243828.0,accepted,6.602207,3.270465,NaN,NaN,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,0 days 00:03:37,3.616667,False,False

In [151]:
df_merged[['Trip Origin', 'Trip Destination']].head()

                          Trip Origin                 Trip Destination
0  6.508813001668548,3.37740316890347      6.650969799999999,3.3450307
1                 6.4316714,3.4555375  6.4280814653326,3.4721885847586
2         6.631679399999999,3.3388976      6.508324099999999,3.3590397
3         6.572757200000001,3.3677082      6.584881099999999,3.3614073
4                 6.6010417,3.2766339              6.4501069,3.3916154

In [18]:
from geopy.distance import geodesic

In [19]:
df_merged[['Origin Lat', 'Origin Lon']] = df_merged['Trip Origin'].str.split(',', expand=True).astype(float)
df_merged[['Dest Lat', 'Dest Lon']] = df_merged['Trip Destination'].str.split(',', expand=True).astype(float)

In [ ]:
df_merged['Distance (km)'] = df_merged.apply(lambda row:geodesic((row['Origin Lat'], ['Origin Lon']), (row['Dest Lat'], row['Dest Lon'])).kilometers, axis=1 )